﻿@model Entidades.Profissional
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
    @using (Html.BeginForm())
    {
        <div class="editor-field">
         @*@Html.EditorFor(model => model.Nome)*@
            @Html.DropDownList("dropProfissional", (SelectList)ViewBag.Profissionais, "")
            @Html.ValidationMessageFor(x => x.Nome)
        </div>
        <div id="divVotar" style="display:none" class="editor-field">
            <div id="divRestaurantes">
            
            </div>
            <input type="button"  id="btnVotar" value="Votar" />

        </div>
        
    }



    @section Scripts
    {
        <script type="text/javascript">
            $('#dropProfissional').change(function (e) {
                e.preventDefault();
                HideControls();
                GetRegularizado();
            });

            function HideControls() {
                $("#btnVotar").hide();
                $('#divVotar').hide();
            }
            function GetRegularizado() {
                var url = '@Url.Action("Regularizado")';
                $.ajax({ type: "GET", url: url, data: { idProfissional: $("#dropProfissional option:selected").val() },
                    success: function (data) {
                        if (data.Success == true) {

                            $('#divRestaurantes').html(data.Html);
                            $('#divVotar').show();
                            $("#btnVotar").show();
                        }
                        else {
                            var urlResultado = '@Url.Action("Resultado")';
                            $('#divRestaurantes').html("<h2>" + data.ErrorMessage + "</h2> <a href='" + urlResultado + "'>Verificar Parcial</a>");
                            $('#divVotar').toggle( "slow" );                           
                        }
                    }
                });
            }


            $("#btnVotar").click(function (e) {
                var idRestaurante = $("input:checked").val();
                var idProfissional = $("#dropProfissional option:selected").val();


                if (idRestaurante != undefined) {
                    var url = '@Url.Action("Votar", "Home")';
                    $.post(url, { idRestaurante: idRestaurante, idProfissional: idProfissional },
                function (data) {
                    if (data.Success == true) {
                        window.location.href = '@Url.Action("Resultado", "Home")';
                    } else {
                        alert(data.ErrorMessage);
                    }

                });
                }
                else {
                    alert("Selecione um restaurante!");
                }


            });

        </script>
    }