﻿@using Entidades
@using Repositorio

@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>
@{
    
     foreach(KeyValuePair<Restaurante, int> resultado in new RepositorioEnquete().ResultadoParcial())
     {
         @:<p>O restaurante @resultado.Key.Nome recebeeu @resultado.Value votos.</p>
     }
}

@Html.ActionLink("Voltar", "Index")