﻿@model Entidades.Restaurante
@{
    ViewBag.Title = "Votacao";
}

<h2>Votacao</h2>
@if (ViewBag.Restaurantes == null)
{
    @:<h3>ViewBag.Msg</h3>
    @Html.ActionLink("Voltar", "Index")
}
else
{
   using (Html.BeginForm("Resultado", "Home"))
   {
        <div class="editor-field">
         @*@Html.EditorFor(model => model.Nome)*@
            @Html.DropDownList("idRestaurante", (SelectList)ViewBag.Restaurantes, "")
            @Html.ValidationMessageFor(x => x.Nome)
        </div>
        <input type="submit" value="Votar">
   }
}